In [ ]:
for i in range(10):
    print(i)

In [ ]:
print("hello")
print("world")

In [ ]:
print("hello",end=" ")
print("world")

In [ ]:
print("hello",end="*")
print("world",end="*")
print("to all...")

In [ ]:
help(range)

In [ ]:
range(10)

In [ ]:
for i in range(10,100):
    print(i, end=" ")

In [ ]:
a = 10

In [21]:
for i in range(100,10,-5):
    print(i, end=" ")

100 95 90 85 80 75 70 65 60 55 50 45 40 35 30 25 20 15

In [25]:
mark_list = [95, 90, 85, 80, 75]

for mark in mark_list:
    if mark > 80:
        print("pass")
    else:
        print("fail")

pass
pass
pass
fail
fail

In [26]:
subject = ['maths', 'science', 'social', 'english', 'tamil']
mark_list = [95, 90, 85, 80, 75]

for i in range(5):
    if mark_list[i] > 80:
        print(subject[i], mark_list[i]," - pass")
    else:
        print(subject[i], mark_list[i]," - fail")

maths 95  - pass
science 90  - pass
social 85  - pass
english 80  - fail
tamil 75  - fail

In [27]:
for i in range(2,5):
    for j in range(1,5):
        print(i,j)

2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [28]:
number = int(input("enter a number"))
string = "Nielit Chennai"
for i in range(len(string)):
    print(i)

enter a number6
0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [29]:
for i in string:
    print(i)

N
i
e
l
i
t

C
h
e
n
n
a
i

In [31]:
i = 0

while i<10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
break, continue

In [32]:
i = 0

while i<10:
    if i==4:
        break
    else:
        print(i)
    i += 1

0
1
2
3

In [36]:
i = 0

while i<10:
    if i%2==0:
        i += 1
        continue
    else:
        print(i)
    i += 1

1
3
5
7
9